PORT=3001
SUPABASE_URL=https://ovjvkxefrshozvokhmra.supabase.co
SUPABASE_ANON_KEY=sb_publishable_161HVul2CB5eGPXfuZ9OgQ_r3WkHZWh
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im92anZreGVmcnNob3p2b2tobXJhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTY5NjM5NCwiZXhwIjoyMDk1MjcyMzk0fQ.vq7iEoqs_9yKaIByPiotf_MAVrDug4x0bSJJaZUKbqw
EMAIL_USER=noreply.route.app@gmail.com
EMAIL_PASS=dugbshajabyhsndd
FRONTEND_URL=https://route-gilt-eight.vercel.app